
@{
    ViewBag.Title = "Local Cache Demo";
}

<h2>Local Cache Demo</h2>

<p>Local cahce flage set = @ViewBag.LocalCacheFlag; </p>
<p>Local cahce ready = @ViewBag.LocalCacheReady; </p>
<p>Static page views counter (if value ==1 it means app restered) =  @MvcApplication._PageHitCountOrDidMyAppJustRestered</p>

<p>some text here explaning what is local cache </p>
