
@{
    ViewBag.Title = "Init Module demo";
}

<h2>Init Module Demo</h2>

<p>@ViewBag.message</p>

<br />
<p>Demo notes</p>
<p>default behaivor will sleep the page for 10 sec</p>
<p>.../InitModule?task=1 --> will return VM instance ID machine name</p>
<p>.../InitModule?task=1234 --> will perform system.exit on given instance </p>
